* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:rgb(160, 115, 3);
    background-color: rgb(190, 190, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: indianred;
    border-bottom: 6px double greenyellow;
}

header h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px;
}

h2 {
    color: indigo;
    float: left;
}

.flex-row {
    display: flex;
}

.section-title {
    text-align: center;
    float: left;
    border-bottom: 4px solid purple;
    display: flex;
    align-items: center;
}

.section-style {
    margin: 50px auto;
    border-width: 3px 0 0 18px;
    border-color: greenyellow;
    border-style: solid;
}

section {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section h2 {
    float: left;
}

section a {
    text-decoration: none;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

section ul li a {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.work-img {
  flex: 1 12%;
  margin-right: 20px;
}

.work-img img {
    max-width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .section-title {
      width: 80%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  
    .section-title {
      width: 95%;
    }
  }